{% extends "base.html" %} {%load static%} {% block main %}
<center>
       <h1>Buy Plan</h1>
       <div class="login createaccount">
              <h1>Debit/Credit card </h1>
              <!-- Card Number -->
              <div class="input"><input type="text" class="card-number" placeholder="Card Number"></div>

              <!-- Date Field -->
              <select name="Month">
                     <option value="january">January</option>
                     <option value="february">February</option>
                     <option value="march">March</option>
                     <option value="april">April</option>
                     <option value="may">May</option>
                     <option value="june">June</option>
                     <option value="july">July</option>
                     <option value="august">August</option>
                     <option value="september">September</option>
                     <option value="october">October</option>
                     <option value="november">November</option>
                     <option value="december">December</option>
              </select>
              <select name="Year">
                     <option value="2016">2016</option>
                     <option value="2017">2017</option>
                     <option value="2018">2018</option>
                     <option value="2019">2019</option>
                     <option value="2020">2020</option>
                     <option value="2021">2021</option>
                     <option value="2022">2022</option>
                     <option value="2023">2023</option>
                     <option value="2024">2024</option>
              </select>

              <!-- Card Verification Field -->
              <div class="#">
                     <div class="input">
                            <input type="text" placeholder="CVV">
                     </div>
                     <div>
                            <font color="white"><p>3 or 4 digits usually found <br> on the signature strip</p></font>
                     </div>
              </div>

              <!-- Buttons -->
              <div class="btn-container">
                     <input class="button" type="submit" value="Proceed">
                     <input class="button" type="submit" value="Pay With">
              </div>
       </div>
       </div>
       </form>
</center>
{% endblock main %}































