{% extends "base.html" %} {%load static%}


{% block main %}
<main class="main-container">
  <div class="login-form-container">
      <div class="login createaccount">
        <form id="login" action="{% url 'user_account' %}">
          <h1>Login</h1>
          <label><b>User Name
            </b>
          </label>
          <input type="text" name="Uname" id="Uname" placeholder="Username">
          <br><br>
          <label><b>Password
            </b>
          </label>
          <input type="Password" name="Pass" id="Pass" placeholder="Password">
          <br><br>
          <div class="btn-container">
          <input class="button" type="submit" value="Login"></div>
          <input type="checkbox" id="check">
          <span>Remember me</span>
          <span class="psw"><a href="#" style="color:#fff">Forgot password?</a></span>
          <br><br>
          
          <div>
            <h3 >Does not have account?<a href="{% url 'createaccount' %}" style="color:#fff">Create Account</a></h3>
          </div>
        </form>
      </div>
  </div>
</main>

{% endblock main %}