{% extends "base.html" %} {%load static%} {% block main %}
<main class="main-container">
  <div class="content">
    <header class="content-headers">
      <h1><center>{Historical} Places</center></h1>
    </header>
    <div class="main-searchbox-container landscape">
      <div class="main-searchbox-searchbar">
        <input
          type="search"
          name="search"
          id="searbar"
          aria-label="Search through site content"
          placeholder="Search Box..."
        />
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_snow.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_forest.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_mountains.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_mountains.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_snow.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_forest.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_forest.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_mountains.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
      <div class="column">
        <img
          src="https://www.w3schools.com/howto/img_snow.jpg"
          alt="Snow"
          style="width: 80%"
        />
      </div>
    </div>
  </div>
</main>
{% endblock main %}
