{% extends "base.html" %} {%load static%} 

{% block main %}
<main class="main-container">
  <div class="content">
    <header class="content-headers">
      <h1><center>Places</center></h1>
    </header>
    <div class="places-row card-row ">
      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/beach.jpeg' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Beaches</h5>
        </div>
      </div>

      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/history.jpg' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Historical Places</h5>
        </div>
      </div>

      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/religious.jpg' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Religious Places</h5>
        </div>
      </div>

      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/natpark.jpg' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">National Parks</h5>
        </div>
      </div>

      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/themepark.webp' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Theme & Water Parks</h5>
        </div>
      </div>

      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/heritage.webp' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Heritage Sites</h5>
        </div>
      </div>

      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/hill.jpg' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Hills & Mountains</h5>
        </div>
      </div>

      <div class="card placetype-card" style="width: 18rem">
        <img
          src="{% static 'assets/places-types/garden.jpeg' %}"
          class="circle-img"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Gardens & Parks</h5>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock main %}
