.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  align-self: flex-end;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: disc;
  background-color: var(--dl-color-primary-100);
  list-style-image: none;
  list-style-position: outside;
}

.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.landing-page-top-container {
  width: 100%;
  height: 301px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.landing-page-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9f9f9;
}
.landing-page-image {
  width: 327px;
  height: 99px;
  object-fit: cover;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.landing-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-text {
  margin-right: var(--dl-space-space-doubleunit);
}
.landing-page-link {
  display: contents;
}
.landing-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-burger-menu {
  width: 24px;
  height: 24px;
}
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-icon03 {
  width: 24px;
  height: 24px;
}
.landing-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text01 {
  margin-bottom: 8px;
}
.landing-page-text02 {
  margin-bottom: 8px;
}
.landing-page-text03 {
  margin-bottom: 8px;
}
.landing-page-link01 {
  display: contents;
}
.landing-page-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text05 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link02 {
  display: contents;
}
.landing-page-icon05 {
  width: 24px;
  height: 24px;
}
.landing-page-link03 {
  display: contents;
}
.landing-page-icon07 {
  width: 24px;
  height: 24px;
}
.landing-page-link04 {
  display: contents;
}
.landing-page-icon09 {
  width: 24px;
  height: 24px;
}
.landing-page-container1 {
  left: 261px;
  width: 690px;
  bottom: 39px;
  height: 86px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  list-style-type: disc;
  background-color: #ffffff;
  list-style-image: none;
  list-style-position: outside;
}
.landing-page-image1 {
  top: 298px;
  left: 0px;
  width: 100%;
  height: 399px;
  position: absolute;
  object-fit: cover;
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  right: 0px;
  width: 100%;
  bottom: 9px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.landing-page-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.landing-page-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link08 {
  text-decoration: none;
}
.landing-page-container3 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.landing-page-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link12 {
  text-decoration: none;
}
.landing-page-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text06 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link13 {
  display: contents;
}
.landing-page-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link14 {
  display: contents;
}
.landing-page-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link15 {
  display: contents;
}
.landing-page-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-container4 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.landing-page-main {
  width: 100%;
  height: 1788px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 37px;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-textinput {
  width: 660px;
  height: 52px;
  border-radius: var(--dl-radius-radius-radius8);
}
.landing-page-container5 {
  top: 857px;
  left: 28px;
  width: 514px;
  height: 134px;
  display: flex;
  padding: 32px;
  position: absolute;
  align-items: center;
  margin-right: 369px;
  padding-right: 32px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text07 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-unit);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-separator {
  width: 40%;
  height: 1px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.landing-page-image2 {
  top: 258px;
  left: 23px;
  width: 425px;
  height: 599px;
  position: absolute;
  object-fit: cover;
}
.landing-page-blog-post-card {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-blog-post-card:hover {
  transform: scale(1.02);
}
.landing-page-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-text08 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.landing-page-text09 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
@media (max-width: 767px) {
  .landing-page-right-side {
    display: none;
  }
  .landing-page-burger-menu {
    display: flex;
  }
  .landing-page-menu {
    flex-direction: column;
  }
  .landing-page-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .landing-page-container2 {
    margin-left: 0px;
  }
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-gallery-card {
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .landing-page-links-container2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing-page-link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-container3 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .landing-page-link09 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link10 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link11 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-link12 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-follow-container1 {
    margin-left: 0px;
  }
  .landing-page-image2 {
    height: 10rem;
  }
}
